<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MusicSolvage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MusicSolvage.Properties.Settings>
            <setting name="pathCache" serializeAs="String">
                <value>C:\Users\nikll\AppData\Local\Yandex\YandexBrowser\User Data\Default\Cache\</value>
            </setting>
            <setting name="pathOutput" serializeAs="String">
                <value>C:\Users\nikll\Music</value>
            </setting>
        </MusicSolvage.Properties.Settings>
    </userSettings>
</configuration>